/*--------------------SORTABLE TABLE SAMPLE STYLES-------------------------*/

.sortable th.descend{
	background-image:url(../images/caret_up.gif);
	}
.sortable th.ascend{
	background-image:url(../images/caret_down.gif);
	}
.sortable th{
	background-color: #E4EDFC;
	background-position: 95% 50%;
	background-repeat:no-repeat;
	cursor:pointer;
	padding: 6px 15px 6px 6px;
	}