.body
{
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
    oncontextmenu="return false";
}
td p
{
    padding-bottom:20px;
    white-space:pre-line;
}
.small
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.PrintOnly
{
    FONT-SIZE: 18pt;
    FONT-WEIGHT: bold;
    background-color: Black;
    COLOR: White;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    visibility: visible
}
.PrintOnlySmall
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    visibility: visible
}
.MainDetailPage
{
	WIDTH: 100%; 
	height:auto;
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BACKGROUND-COLOR: silver; 
	BORDER-BOTTOM-STYLE: none;
	overflow:visible;
}
.PrintDiv
{
	display:none;
	height:100;
	position:absolute;
	overflow:visible
}
.PrintDivWP
{
	overflow:auto;
	height:480
}
.PrintDivNotes
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    height: 30px;
    overflow: visible;
    border: solid 1 black
}
.xofycounter
{
	display:none;
}
.stinput
{
    FONT-SIZE: 8pt;
    width: 100%;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.results
{
    FONT-SIZE: 10pt;
    width: 100%;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headings
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #cc0066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.code
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: "Courier New", Courier, mono
}
P
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodybold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fmcbody
{
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fmcsmall
{
    FONT-SIZE: 10px;
    COLOR: #cccccc;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mxheading
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bgblurb
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 24px;
    COLOR: #cc0066;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	background-color:Silver;   
}
.xtrasmall
{
    FONT-SIZE: 8px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.authorName
{
    FONT-SIZE: 18px;
    COLOR: #666666;
    FONT-STYLE: normal;
    FONT-FAMILY: Geneva, Arial, Helvetica, san-serif
}
.titles
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyLarge
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.searchtablesurr
{
	Z-INDEX: 100; 
	POSITION: absolute; 
	TOP: 115; 
	HEIGHT: 125px;
	width: 360px;
	border-left: solid 1px White;
	border-right: solid 1px Gray;
	border-bottom: solid 1px Black;
}
.resultstablesurr
{
	Z-INDEX: 105; 
	 POSITION: absolute; 
	 TOP: 350px;
	 width: 340px;
}
.flintsflash
{
	Z-INDEX: 10; 
	LEFT: -10px; 
	VISIBILITY: visible; 
	WIDTH: 360px; 
	POSITION: absolute; 
	TOP: 310px; 
	background-color: Black;
	HEIGHT: 30px
}
.MainDiv
{
	position: absolute;
	top: 5%;
	height: 90%;
	left: 0%;
	width:90%;
}
.DetsFrame
{
	Z-INDEX: 101; 
	position: absolute;
	LEFT: 350px; 
	VISIBILITY: hidden; 
	OVERFLOW: hidden; 
	WIDTH: 650px; 
	HEIGHT: 540px; 
	BACKGROUND-COLOR: silver;
	top: 40;
}

.FirstTab
{
	Z-INDEX: 104; 
	 POSITION: absolute; 
	 TOP: 80px;
	 width: 120px;
	 height: 26px;
	 left: 0;
	 border-bottom: none 1px White;
	 cursor: hand;
}
.SecondTab
{
	Z-INDEX: 104; 
	 POSITION: absolute; 
	 TOP: 80px;
	 width: 120px;
	 height: 26px;
	 left: 120px;
	 border-bottom: solid 1px White;
	 cursor: hand;
}
.ThirdTab
{
	Z-INDEX: 105; 
	 POSITION: absolute; 
	 TOP: 80px;
	 width: 120px;
	 height: 25px;
	 left: 240px;
	 border-bottom: solid 1px White;
	 cursor: hand;
}
.PrintDivNotesLong
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    height: 40px;
    overflow:visible;
    background-color: White;
    border: solid 1 Black
}
.ImsDetDivShow
{
	display:block;
}
.ImsDetDivHide
{
	display:block;
}
.PrintDivNotesLongNB
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    height: 80px;
    overflow: auto;
    background-color: White;
}
.IMSMemoDiv
{
	display:none;
	height:0px
}
.LinksDiv
{
	display:none;
}
.LOGHEADFRAME
{
	position: absolute;
	top: 30px;
	width: 95%;
	height:5px;
	overflow:visible
}
.Controller
{
	display:none
}
.GraphViewDiv
{
	display:none
}
.DetsDiv
{
	position:absolute;
	top: 110px;
	background-color: Gray;
	border-left: solid 1 black;
	border-bottom: solid 1 black;
	border-right: solid 1 black;
	color:Red;
	overflow:visible
}
.DetsDivCtl
{
	display:none
}
.SubsDiv
{
	position:absolute;
	top: 46px;
	background-color: White;
	border: solid 1 black;
	width: 95%;
	height: 45px;
	overflow:visible
}
.cal_calendar {font-size:10pt;font-family:verdana;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_header {background-color:#CCCCCC;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_cell {padding:2px;margin:1px;border:2px groove;text-align:center;width:3ex}
.cal_labelcell {padding:2px;margin:1px;border:2px groove;text-align:center;}
.cal_oddweek {background-color:#AAAACC;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_evenweek {background-color:#CCCCEE;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_day {width:3ex;text-align:center;padding:0px;margin:0px;border:none; border-collapse:collapse;cursor:hand;}
.cal_today {background-color:magenta;color:blue;font-weight:bold;width:3ex;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_today_nb {width:3ex;text-align:center;padding:0px;margin:0px;border:none; border-collapse:collapse;cursor:hand;}
.cal_disabled {color:#999999;width:3ex;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_common {color:black;width:3ex;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_holiday {color:red;width:3ex;padding:0px;margin:0px;border:none; border-collapse:collapse;}
.cal_event {background-color:yellow;color:red;width:3ex;padding:0px;margin:0px;border:none; border-collapse:collapse;cursor:hand;}
.opts_year {width:28ex;height:16px;background-color:#CCCCCC;padding:0px;margin:0px;border:none; border-collapse:collapse;text-align:center;}
.opts_month {width:28ex;height:16px;background-color:#CCCCCC;padding:0px;margin:0px;border:none; border-collapse:collapse;text-align:center;}
.opts_row {padding:0px;margin:0px;border:none; border-collapse:collapse;vertical-align:middle;}
.opts_head {font-size:10pt;font-family:verdana;padding:0px;margin:0px;border:none; border-collapse:collapse;vertical-align:middle;}
.opts_but {padding:0px;margin:0px;border:none; border-collapse:collapse;vertical-align:middle;}
.CmpgMapIcon1
	{
		top:260px;
		left:300px;
	}
.CmpgMapIcon2
	{
		top:285px;
		left:355px;
	}
.CmpgMapIcon3
	{
		top:338px;
		left:315px;
	}

.CmpgMapIcon4
	{
		top:216px;
		left:400px;
	}
.CmpgMapIcon5
	{
		top:338px;
		left:225px;
	}
.CmpgMapIcon6
	{
		top:285px;
		left:478px;
	}
.CmpgMapIcon7
	{
		top:215px;
		left:208px;
	}
.CmpgMapIcon8
	{
		top:178px;
		left:208px;
	}
.cmpgdivsel
{
	COLOR:Yellow;
	background-color : Gray;
	border-left: solid 1 black;
	border-top: solid 1 black;
	border-right: solid 1 black;
	width: 80px;
	height:20px;
	padding: 1px 2px 1px 3px;
	cursor: hand
}
.MainDetailPage
{
	WIDTH: 100%; 
	BORDER-TOP-STYLE: none; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	BACKGROUND-COLOR: silver; 
	BORDER-BOTTOM-STYLE: none;
	overflow:visible;
	height:420px
}
.cmpgdiv
{
	COLOR: white;
	background-color : silver;
	border-left: solid 1 black;
	border-top: solid 1 black;
	border-right: solid 1 black;
	padding: 1px 2px 1px 3px;
	width: 80px;
	height:20px;
	cursor: hand
}
.cmpgrowsdiv
{
	text-align:center;
	overflow:visible;
	border:solid 1 black;
}
.cmpgPopUp
{
	background-image:url(..\images\MWay.gif);
	position:absolute;
	height:50;
	width:100;
	top:0;
	top:0;
	font-size:7pt;
	font-weight:bold;
	color:White;
	padding-top:7px;
	display:none;
}
.cmpg_event 
{
	background-color:yellow;
	color:blue;
	padding:0px;
	margin:0px;
	border:solid 1 blue; 
	border-collapse:collapse;
	cursor:hand;
	text-decoration: underline
}

.cmpg_event_sel
{
	color:red;
	font-weight:bold;
	padding:0px;
	margin:0px;
	border:solid 1 blue; 
	border-collapse:collapse;
	cursor:hand;
	text-decoration: underline
}