P
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
TD
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma
}
A
{
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
H1
{
    COLOR: #0c0087;
    FONT-FAMILY: Arial
}
H2
{
    COLOR: #0c0087;
    FONT-FAMILY: Arial
}
LI
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma
}
.Error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: medium;
    COLOR: red;
    FONT-FAMILY: Arial
}
.evenrow
{
    BACKGROUND-COLOR: #adc3ef
}
.form
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana
}
.navbar
{
    BORDER-RIGHT: thin;
    PADDING-RIGHT: 2px;
    BORDER-TOP: thin;
    PADDING-LEFT: 2px;
    FONT-SIZE: 100%;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: thin;
    COLOR: white;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: thin solid;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: #768cc0
}
.ResultsTable
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Georgia;
    BACKGROUND-COLOR: #768cc0
}
.SearchTD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Georgia
}
.Version
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial, sans-serif
}
